<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="net.devwiki.devwiki">

    <application
        android:name=".DevWikiApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".widget.BaseActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".module.view.activity.LaunchModeActivity"/>
        <activity
            android:name=".module.view.activity.StandardActivity"
            android:launchMode="standard"/>
        <activity
            android:name=".module.view.activity.SingleInstanceActivity"
            android:launchMode="singleInstance"/>
        <activity
            android:name=".module.view.activity.SingleTaskActivity"
            android:launchMode="singleTask"/>
        <activity
            android:name=".module.view.activity.SingleTopActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".module.view.animation.AnimationActivity"
            android:theme="@style/AppTheme.FullScreen"
            android:launchMode="singleTask"/>
        <activity
            android:name=".module.view.animation.FpsActivity"
            android:theme="@style/AppTheme.FullScreen"
            android:launchMode="singleTask"/>
    </application>

</manifest>